<div *ngIf="authenticated$ | async">
    <header>
        <nav class="flex items-center justify-between flex-wrap p-6">
            <ul class="flex">
                <li class="mr-6">
                    <a
                        class="text-blue-500 hover:text-blue-800"
                        [routerLink]="['/main/home']"
                        [routerLinkActive]="routerActiveClassName"
                        >Dashboard</a
                    >
                </li>
                <li class="mr-6">
                    <a
                        class="text-blue-500 hover:text-blue-800"
                        [routerLink]="['/main/123']"
                        [routerLinkActive]="routerActiveClassName"
                        >Item 2</a
                    >
                </li>
                <li class="mr-6">
                    <a
                        class="text-blue-500 hover:text-blue-800"
                        [routerLink]="['/main/456']"
                        [routerLinkActive]="routerActiveClassName"
                        >Item 3</a
                    >
                </li>
                <li class="mr-6">
                    <a
                        class="text-blue-500 hover:text-blue-800"
                        [routerLink]="['/main/user-panel']"
                        [routerLinkActive]="routerActiveClassName"
                        >User</a
                    >
                </li>
                <li class="mr-6">
                    <a
                        class="text-blue-500 hover:text-blue-800"
                        [routerLink]="['/main/admin']"
                        [routerLinkActive]="routerActiveClassName"
                        >Admin</a
                    >
                </li>
                <li class="ml-6">
                    <select (change)="changeTournamentContext($event)">
                        <option
                            *ngFor="let tournament of tournaments$ | async"
                            [value]="tournament.tournamentCode"
                            [textContent]="tournament.tournamentName"
                        ></option>
                    </select>
                </li>
            </ul>
        </nav>
    </header>
</div>
<main>
    <section class="mx-auto">
        <router-outlet></router-outlet>
    </section>
</main>
